.topBar{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC2255;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    width: 300px;
    height: 51px;

}

.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 6%;
    width: 300px;
    height: 480px;
    font-weight: 500;
    gap: 20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    box-shadow:     0      10px      10px       rgb(135, 135, 135);
}

.inputs{

    border-radius: 15px;
    width: 200px;
    height: 35px;
    padding-left: 10px;
}

.button{

    background-color: #CC2255;
    border-radius: 20px;
    margin-top: 90px;
    width: 130px;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    border: none;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  { 
    .topBar{
        width:400px;
        margin-left:7%;
        margin-top: 5%;
    }
   .container{
    width: 400px;
    height: 450px;
    font-weight: 500;
    gap: 20px;
    margin-left:7%;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .topBar{
        width:500px;
        margin-left:20%;
        margin-top: 5%;
    }
   .container{
    width: 500px;
    height: 450px;
    font-weight: 500;
    gap: 20px;
    margin-left:20%;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .topBar{
        width: 300px;
        margin-top: 0%;
    }
  .container{
    width: 300px;
    height: 480px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 

}