.container{

    margin-left: 35%;
    margin-top: 30px;
    border-radius: 20px;
    width: 500px;
    box-shadow:     0      10px      10px       rgb(135, 135, 135);    
}

.topBar{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC2255;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    width: 500px;
    height: 50px;
}

.SignUpCustomer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 30px;
    align-items: center;
    border-width: medium;
    width: 500px;
    height: 500px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.inputs{

    border-radius: 15px;
    height: 30px;
    padding-left: 10px;
}

.button{

    display: flex;
    width: 400px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #CC2255;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
}
.checkbox{
    padding:0.01%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  { 
   
    .container{
        margin-top: 10%;
       width:400px;
       height:450px;
       margin-left: 15%;
       padding-bottom: 10%;
    }
    .topBar{
        width:400px;
    }
    .SignUpCustomer {
        width:400px;
        height:450px;
    }
    .inputs{

        border-radius: 15px;
        height: 30px;
        margin-left: 30%;
    }
    .button{
        margin-left: 25%;
        width: 200px;
        height: 50px;
        color:white;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        margin-top: 10%;
       width:400px;
       height:450px;
       margin-left: 25%;
       padding-bottom: 10%;
    }
    .topBar{
        width:400px;
    }
    .SignUpCustomer {
        width:400px;
        height:450px;
    }
    .inputs{

        border-radius: 15px;
        height: 30px;
        margin-left: 30%;
    }
    .button{
        margin-left: 25%;
        width: 200px;
        height: 50px;
        color:white;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        margin-top: 5%;
       width:400px;
       height:450px;
       margin-left: 30%;
       padding-bottom: 10%;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        margin-top: 5%;
       width:500px;
       height:500px;
       margin-left: 35%;
       padding-bottom: 10%;
    }
    .topBar{
        width:500px;
    }
    .SignUpCustomer {
        width:500px;
        height:550px;
    }
    .button{
        margin-left: 15%;
        width: 300px;
        height: 50px;
        
    }
}