

.Header {
    background-color: #000000;
    color: #fff;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center; 
}

.button {
    background-color: #cc2255; 
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 15%;
    margin-left: auto;
    }

.searchBar {
    border-radius: 15px 0 0 15px;
    width: 400px;
    height: 50%;
    padding-left: 10px;
    border: none;
    
}

.searchButton{
    margin-top: 3px;
    background-color: #cc2255;
    color: #fff;
    border-radius: 0 15px 15px 0;
    width: 70px;
    height: 52%;
    margin-right: 100px;
    margin-bottom: 3px;
    border: none;
}