.bottomBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    width: auto;
    height: auto;

}
.bottomEmpty{
    height:100px;
}
.contactInfo{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:3%;
    font-size: 18px;
    
}
.socialMedia{
    display: flex;
    flex-direction: row;
    gap:10%;
    justify-content:center;
    padding-bottom:5% ;
    padding-top: 2%;
   

}
.media{
    background-color:#cc2255;
    color:white;
    font-size:bold;
    border-radius:50%;
    border-color:#cc2255;
    

}

