.container{

    margin-left: 35%;
    margin-top: 30px;
    border-radius: 20px;
    width: 500px;
    box-shadow:     0      10px      10px       rgb(135, 135, 135);    
}

.topBar{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC2255;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    width: 500px;
    height: 50px;
}

.SignIn {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top:30px;
    align-items: center;
    border-width: medium;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 500px;
    height: 500px;
}

.button{
    display: flex;
    width: 400px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #cc2255;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
}

.inputs{

    border-radius: 15px;
    height: 30px;
    padding-left: 10px;
    margin-top: 20px;
}

