.frontPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 18%;
    margin-right: 14%;
   
   
}
.title{
    background-color: white;
    width: 100%;
    height:90px;
    margin-top:-19px;

    
    
}
h1{ 
    align-self: center;
    margin-right:10%;

}
    