.title{
    
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height:90px;
    font-size:25px;
   
}



.column{

background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
gap: 5%;
align-items: center;
width: 600px;
height: 540px;
border-radius: 20px;
margin-top: 20px;
margin-bottom: 20px;
box-shadow:     0      10px      10px       rgb(135, 135, 135);

}

.topBar{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC2255;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    font-weight: 500;
    color: white;
    width: 600px;
    height: 50px;

}

.select{

    margin-top: 20px;
    border-radius: 15px;
    height: 30px;
    width: 220px;
    padding-left: 10px;
    margin-left: 32px;
    margin-bottom: 20px;
}
.textField{

    background-color: #F3F3F3;
    border: 2px solid #DCDCDC;
    border-radius: 20px; 
    height: 30px;
    width: 200px;
    padding-left: 10px; 
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.desc{
    padding-left: 10px; 
    background-color: #F3F3F3;
}
.createMenu {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.btn{ 
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22%;
    
}
.createButton {

    background-color: #CC2255;
    color: white;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    margin-top:3%;
    border: none;

}
textarea{

    border-radius: 20px; 
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 608px)  { 
    .column{
        width: 350px;
        height: 540px;
        display:flex;
        align-self: center;
        margin-left: 7%;
        margin-top:5%;
    }
    .topBar{
        width:350px;
        height:65px;
    }
    .createButton {
        width:150px;
        height:50px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 608px) {
    .column{
        margin-left: 1%;
    }
}

@media only screen and (min-width: 692px) {
    .column{
        margin-left: 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .column{
        margin-left: 20%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}