.shoppingCartItems{

    width: 400px;
    height: 100px;
    display: flex;
    border-bottom: 2px solid #DCDCDC;
    }

.photoArea{
    
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
}
.infoArea{

    display: flex;
    flex-direction: column;
    width: 310px;
    height: 100px;

}
.itemsUp{

    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
    width: 310px;
    height: 50px;
}
.itemsDown{

    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    height: 50px;
}

.price{

    width: 50px; 
    margin-bottom: 10px;
    white-space: nowrap; 
    overflow: visible;
    text-overflow: ellipsis; 
    
  }
  
  .photo{
  
      height: 81px;
      width: 96px;
      align-self: flex-start;
      border-radius: 20px;
  
  }
  
.addMore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 6px;
    height: 21px;
    width: 45px;
    background-color:#CC2255;
}

.buttonMinus{

    width: 20px;
    height: 20px;
    margin-bottom: 7px;
    margin-left: 110px;
}
.buttonPlus{

    width: 20px;
    height: 20px;
    margin-bottom: 7px;
    margin-left: 6px;
}

.removeButton{

color:#CC2255;
padding: 0;
border: none;
background: none;

}