.shoppingCartItems{

    width: 400px;
    height: 100px;
    display: flex;
    border-bottom: 1.5px solid #DCDCDC;
    }

.photoArea{
    
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
}
.infoArea{

    display: flex;
    flex-direction: column;
    width: 310px;
    height: 100px;

}
.itemsUp{

    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 500;
    width: 310px;
    height: 50px;
}
.itemsDown{

    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    width: 310px;
    height: 50px;
}
.addMore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 160px;
    height: 20px;
    width: 50px;
    background-color:#CC2255;
}

.price{

  width: 50px; 
  margin-bottom: 10px;
  white-space: nowrap; 
  overflow: visible;
  text-overflow: ellipsis; 
  
}

.photo{

    height: 81px;
    width: 96px;
    align-self: flex-start;
    border-radius: 20px;

}
