
.mainContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:5%;
    padding-top: 2%;
}


.title{

    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 90px;
}

    
.container{

    background-color: white;
    border-radius: 20px;
    width: 500px;
    height: auto;
    box-shadow:     0      10px      10px       rgb(135, 135, 135);
  
}

.topBar{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC2255;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    width: 500px;
    height: 50px;
}

.column{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: auto;
    border-radius: 20px;

}

.deliveryLocation{

    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-left: 10px;
    width: 300px;
    height: 25px;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  { 
   .title{
       font-size:20px;
       height:70px;
       
   }

   .mainContainer{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
  }
  .container{
    width: 400px; 
    margin-left:7%;
  }
  .topBar{
    
  width:400px;
  }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
      .title{
    font-size:24px;
    
      }

    .mainContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3%;
      }
      .container{
        width: 500px; 
        margin-left:20%;
      }
      .topBar{
        
      width:500px;
      }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .mainContainer{
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap:3%;
    }
    .container{
        width: 500px; 
        margin-left:0%;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   

  }