.title{
    
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height:90px;
    font-size: 22px;
   
}

.topBar{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC2255;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    width: 600px;
    height: 50px;
    margin-top: 20px;
    margin-left: 33%;
}

.CreateRestaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: medium;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 600px;
    height: 800px;
    margin-left: 33%;
    margin-bottom: 20px;
    background-color: white;
}
.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: medium;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
}
.select{
    
    padding-left: 10px;
    border-radius: 15px;
    margin-top: 30px;
    width: 215px;
    height: 35px;
   
}
.inputs{
    
    padding-left: 10px;
    border-radius: 15px;
    margin-top: 30px;
    width: 200px;
    height: 30px;
   
}
.descriptionInputs{
    height:100px;
    overflow: scroll;
    padding-left: 10px;
    border-radius: 15px;
    margin-top: 30px;
    width:200px;
    
    
}
.addressInputs{
    height:70px;
    overflow: scroll;
    padding-left: 10px;
    border-radius: 15px;
    margin-top: 30px;
    width:200px;
}

.chooseFile{
    display:flex;
    justify-content: center;
    padding-top: 5%;   

}

.btnFile{
    border-radius: 15px;
}

.button{

    margin-top: 15px;
    margin-bottom:15px;
    border-radius: 15px;
    width: 300px;
    height: 70px;
    font-size: 16px;
    background-color: #CC2255;
    color: white;
    border: none;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  { 
    
    .topBar{
        margin-left: 10%;
        width: 300px;
    }
    .CreateRestaurant {
        margin-left: 10%;
        width: 300px;
        height: 750px;
    }
    .button{
        height: 50px;
    }
    .descriptionInputs{
        height: 70px;
        padding: 5px;
        width: 180px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .topBar{
        margin-left: 15%;
        width: 450px;
    }
    .CreateRestaurant {
        margin-left: 15%;
        width: 450px;
        height: 750px;
    }
    .button{
        height: 50px;
    }
    .descriptionInputs{
        height: 70px;
        padding: 5px;
        width: 180px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .topBar{
        margin-left: 25%;
    }
    .CreateRestaurant {
        margin-left: 25%;
        height: 750px;
    }
    .button{
        height: 50px;
    }
    .descriptionInputs{
        height: 80px;
        padding: 10px;
        width: 180px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .topBar{
        margin-left: 30%;
    }
    .CreateRestaurant {
        margin-left: 30%;
        height: 750px;

    }
    .descriptionInputs{
        height: 60px;
        padding: 10px;
        width: 180px;
    }
    .button{
        height: 50px;
    }
    
  }