.title{
    
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height:90px;
   
}

.topBar{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC2255;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    width: 600px;
    height: 50px;
    margin-top: 20px;
    margin-left: 33%;
}

.CreateRestaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: medium;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 600px;
    height: 500px;
    margin-left: 33%;
    margin-bottom: 20px;
    background-color: white;
}

.select{
    
    padding-left: 10px;
    border-radius: 15px;
    margin-top: 30px;
    width: 215px;
    height: 35px;
   
}
.inputs{
    
    padding-left: 10px;
    border-radius: 15px;
    margin-top: 30px;
    width: 200px;
    height: 30px;
   
}

.button{

    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    background-color: #CC2255;
    color: white;
    border: none;
}