.CreateRestaurant {
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    border-width: medium;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    width: 600px;
    margin-left: 35%;
    margin-top: 30px;
}