.container{
   display:flex;
   border:1px solid rgb(201, 195, 195);
   border-radius:4px;
    /* width: 251px;
    height: 295px; */
    margin-bottom: 20px; 
    margin-top:1%; 
    justify-content:start;
    box-shadow: 3px 5px rgb(201, 195, 195);
    flex-direction: column;
    background:white;
    
}
.image{ 
    height: 213px;
    width: 100%;   
}

.name{
    font-weight: bold;
    width:100%;
    padding-left: 2%;
}
.description{
    font-size: 12px;
    width:80%;
    height: 80%;
    padding-left: 2%;
    
}

.category{
    font-size: 12px;
    width:80%;
    height: 80%;
    padding-left: 2%; 
    font-weight: 600;
}
.bottom{
    display:flex;
    flex-direction: row;
    gap:2%;
    padding-bottom: 2%;
    padding-left: 75%;
    margin-top: 20px;
   
}
.cart{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    border-radius: 50%;
    border:1px solid black;
    
}

.cart:hover {
    background-color: #cc2255;
  }
.price{
    margin-left: 20px;
    color:black;
    font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  { 
    .bottom{
        display:flex;
        align-items:center;
        flex-direction: row;
        padding-bottom: 2%;
        padding-left: 75%;
       
    }

    .card{
        margin-left: 1%;
        width:40px;
        height:30px;
        border-radius: 4%;
        border:1px solid black;
        
    }
    .image{ 
        height: 170px;
        width: 100%;   
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .bottom{
        display:flex;
        align-items:center;
        flex-direction: row;
        padding-bottom: 2%;
        padding-left: 70%;
       
    }

    .card{
        margin-left: 1%;
        width:40px;
        height:30px;
        border-radius: 50%;
        margin-left:2%;
        border:1px solid black;
        
    }
    .image{ 
        height: 200px;
        width:100%;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .bottom{
        display:flex;
        align-items:center;
        flex-direction: row;
        padding-bottom: 2%;
        padding-left: 60%;
    }
    .image{ 
        height: 216px;
        width:100%;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .bottom{
        display:flex;
        align-items:center;
        padding-bottom: 2%;
        padding-left: 70%;
    }

  }