/* Header */
.header{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    line-height: 1.6;
    padding-top:2%;
    
}

.name{
    color: white;
    font-weight: bold;
    font-size: 40px;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

.container{

    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align:center;
    width: auto;

}
.description{ 
    width: 800px;
    max-height: 120px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    align-content: center;
    text-align: center;
    margin-left: 300px;
    
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    */
}

.restaurantInfo{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-weight: bold;
    margin-left: 120px;
}

/* Dropdown */

.dropdown{
    display:flex;
    justify-content: flex-end;
    padding:50px;
}

/* Menu container  */

.menuContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(240, 240, 240) ;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
    margin-bottom: 5px;
    margin-left: 18%;
    margin-right: 14%;
}