/* Header */
.header{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    line-height: 1.6;
    padding-top:2%;
    
}

.name{
    color: white;
    font-weight: bold;
    font-size: 40px;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

.container{

    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align:center;
    width: auto;

}
.description{ 
    width: 800px;
    max-height: 120px;
    color:white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
    
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    */
}

.restaurantInfo{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-weight: 700px; 
    font-family: Arial, Helvetica, sans-serif;
}

/* Dropdown */

.dropdown{
    display:flex;
    justify-content: flex-end;
    padding:1%
}

/* Menu container  */

.menuContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
    margin-bottom: 5px;
    margin-left: 18%;
    margin-right: 14%;
}

.searchBar {
    border-radius: 15px 15px 15px 15px;
    width: 400px;
    height: 50px;
    padding-left: 10px;
    border: solid 1.5px;
    margin-left: 500px;  
    margin-top: 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  { 
    .dropdown{
        padding:3%
    }
    .menuContainer{
        display:flex;
        flex-direction:column;
        padding:2%;
        margin-left:0%;
        margin-right: 0%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .dropdown{
        padding:3%
    }
    .menuContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left:3%;
        margin-right: 5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .dropdown{
        padding:1%;
    }
    .menuContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 15px;
        margin-left: 18%;
        margin-right: 14%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menuContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 15px;
        margin-bottom: 5px;
        margin-left: 10%;
        margin-right: 10%;
    }
}