.restaurants{
    display:flex;
    border:1px solid rgb(201, 195, 195);
    border-radius:4px;
     /* width: 251px;
     height: 295px; */
     margin-bottom: 20px;
     margin-top: 50px;  
     justify-content:start;
     box-shadow: 3px 5px rgb(201, 195, 195);
     flex-direction: column;
     background:white;
     
 }
 
 .photo {
 height: 213px;
 width: 100%;
 }
 
 .name{
     font-weight: bold;
     margin-left:2%;
     width:100%;
 }
 .container{ 
     flex-direction: row;
 }
 .text{
     font-size: 14px;
     margin:2%;
     width:50%;
 }
 .rating{ 
     align-self: flex-end;
     background-color: hsl(350, 66%, 57%);
     border-radius: 4px;
     color:white;
     height:30px;
     width:20%;
     margin-right: 2%;
     text-align: center;
     margin-bottom: 20px;
     font-size: large;
 }

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  { 
    .restaurants{
        display:flex;
        margin-top: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
    